.user-info-body {
    display: flex;
}

.user-info-second-div {
    /*margin-right: 10%;*/
    margin-left: 10%;
}

.user-info-second-div-nickname {
    display: flex;
    /*margin-left: 30%;*/
    padding: 2px;
    justify-content: center;
}

.user-info-nickname-img {
    height: 25px;
}

.user-info-nickname {
    color: orange;
    font-style: italic;
}

.user-info-aboutme-text {
    width: 400px;
    height: 200px;
}

.user-info-aboutme-text-div {
    margin-top: 5%;
    /*margin-bottom: 10%;*/
}

.user-info-edit-btn {
    height: 40px;
    width: 150px;
    float: right;
    margin-left: auto;
}

.user-start-chat-btn {
    height: 40px;
    margin-top: auto;
    margin-left: auto;
}

.friends {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

.friends-of-friend {
    color: orange;
}

.friends:hover{
    color: #ff6a00;
}

.birthday {
    color: orange;
    font-size: 12px;
    margin-top: 5%;
}

.navigate-to-friend-page {
    cursor: pointer;
}

.navigate-to-friend-page:hover {
    color: orange;
    text-decoration: underline;
}

.navigate-to-friend-page:hover .normal-coma {
    color: white;
    text-decoration: none;
}
