.user-info-body {
    float: left;
    display: flex;
}

.user-info-second-div {
    margin-right: 20%;
}

.user-info-second-div-nickname {
    display: flex;
    margin-left: 30%;
    padding: 2px;
}

.user-info-nickname-img {
    height: 25px;
}

.user-info-nickname {
    color: orange;
    font-style: italic;
}

.user-info-aboutme-text {
    width: 400px;
    height: 200px;
}

.user-info-aboutme-text-div {
    margin-top: 5%;
    /*margin-bottom: 10%;*/
}

.user-info-edit-btn {
    height: 40px;
    width: 150px;
    margin-left: 10px;
}

.friends {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}
