.flex-box-for-place-want-to-go {
    display: flex;
    flex-wrap: wrap;
}

.single-place-card {
    width: 18rem;
    margin-left: 5%;
    cursor: pointer;
    border: 2px solid transparent;
}

.img-for-single-place-want-to-go {
    height: 200px;
    width: 100%;
}


.single-place-card:hover .single-place-body{
    background-color: #3b3b3b;
    color: orange;
}

.single-place-card:hover {
    border: 2px solid orange;
}

.single-place-card:hover .delete-place-btn{
    visibility: visible;
}


.btn-on-image {
    position: relative;
}

.delete-place-btn{
    visibility: hidden;
}

.delete-place-btn:hover{
    border: 2px solid orange;
}


.btn-on-image .delete-place-btn {
    position: absolute;
    z-index: 100;
    top: 9%;
    left: 91%;
    transform: translate(-50%, -50%);
}

