.mail-input {
    height: 300px;
    background-color: #212223;
    color: #ffa600;
    padding: 40px;
}

.mail-input:focus{
    background-color: #212223;
    color: #ffa300;
}

.mail-header-input {
    background-color: #212223;
    color: #ffa600;
}

.mail-header-input:focus{
    background-color: #212223;
    color: #ffa300;
}