
/*.back-for-emergency-number {*/
/*    position: relative;*/
/*    padding: 3rem 3rem 1rem 6rem;*/
/*    background: #fff;*/
/*    max-width: 90%;*/
/*    border-radius: 10px;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);*/
/*}*/

/*.dupa-for-emergency-number {*/
/*    font-size: 15px;*/
/*    width: 60vh;*/
/*    height: 60vh;*/
/*}*/


/*.h3-for-emergency-number {*/
/*    margin: 0 0 0.5rem 0;*/
/*    color: #999;*/
/*    font-size: 1.25rem;*/
/*}*/

/*.h1-for-emergency-number {*/
/*    margin: 0 0 1rem 0;*/
/*    font-size: 2.5rem;*/
/*    letter-spacing: 0.5px;*/
/*    color: #333;*/
/*}*/

/*.p-for-emergency-number {*/
/*    margin: 0 0 4.5rem 0;*/
/*    font-size: 1.5rem;*/
/*    color: #333;*/
/*}*/


/*.container-copy-for-emergency-number {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.minus_margin-for-emergency-number{*/
/*    margin-bottom: -30px;*/
/*}*/

.img-for-emergency-number {
    position: initial;
    height: 50px;
    width: 50px;
    left: 20%;
    border-radius: 0;
    box-shadow: none;
    transform: none;
}