.weather-box {
    justify-content: space-between;
    display: flex;
    margin: 16px;
    padding: 10px;

}

.img {
    position: initial;
    height: 50px;
    width: 50px;
    left: 20%;
    border-radius: 0;
    box-shadow: none;
    transform: none;
}