.weather-box {
    justify-content: space-between;
    display: flex;
    border: 2px solid #9b9b9b;
    margin: 16px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 10px 13px 15px rgba(255,255,255,0.5), inset 0px 10px 101px rgba(0,0,0,0.15);
}

.img {
    position: initial;
    height: 50px;
    width: 50px;
    left: 20%;
    border-radius: 0;
    box-shadow: none;
    transform: none;
}