* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.for-drag {
  cursor: pointer;
  display: flex;
  padding: 15px;
  border: 1px solid orange;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  color: orange;
}

.for-drag:hover {
  background-color: #3b3b3b;
}

.after-drag {
  display: flex;
  padding: 15px;
  border: 3px solid orange;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  color: orange;
  background-color: #3b3b3b;
}


.post {
  text-align: center;
  width: 45%;
  display: block;
  border: 2px solid #9b9b9b;
  margin: 16px;
  border-radius: 8px;
  box-shadow: inset 10px 13px 15px rgba(255,255,255,0.5), inset 0px 10px 101px rgba(0,0,0,0.15);

}

.myimg {
  margin-left: 40%;
  margin-bottom: -90px;
  margin-top: 0px;
  position: static;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1563223566-f731efbdbab0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  padding: 0;
  margin: 0;
}
