.button {
    border: none;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 42px;
    font-width: bold;
    margin: 0.1% 0.2%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 7px;
    border-color: rgba(255,193,7,255);
}


.button2:hover {
    color: orange;
    background-color: #22262a;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.5),0 25px 70px 0 rgba(0,0,0,0.3);
}