.note-input {
    height: 400px;
    background-color: #212223;
    color: #ffa600;
    padding: 40px;
}

.note-input:focus{
    background-color: #212223;
    color: #ffa300;
}

.save-note-button {
    margin-left: auto;
}

.text-in-center{
    text-align: center;
}

.text-in-left-side{
    text-align: left;
}

.text-in-right-side{
    text-align: right;
}

.text-align-button{
    margin: 10px;
}

.note-text-size-select{
    width: 7%;
    color: orange;
    background-color: #212223;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.note-text-size-16 {
    font-size: 16px;
}
.note-text-size-20 {
    font-size: 20px;
}
.note-text-size-24 {
    font-size: 24px;
}
.note-text-size-28 {
    font-size: 28px;
}
.note-text-size-32 {
    font-size: 32px;
}