.add-comment-textarea {
    border: 1px solid whitesmoke;
    border-radius: 7px ;
    background: transparent;
    color: whitesmoke;
    width: 100%;
    font-size: 22px;
    padding:5px;
}

.add-comments-at-right-side{
    text-align: right;
}

.add-comment-card {
    max-width: 80%;
    margin: 10px 0 10px 10%;
    justify-content: center;
    /*margin: 10px 10px 10px 50%;*/
}

.add-comment-card-header {
    justify-content: space-between;
    color: orange;
    display: flex;
    background-color: rgb(35, 35, 35);
}

.add-comment-card-body {
    background-color: rgb(55, 55, 55);
}