.livingCosts {
    width: 20%;
    display: block;
    border: 2px solid #9b9b9b;
    margin: 16px;
    border-radius: 8px;
    box-shadow: inset 10px 13px 15px rgba(255,255,255,0.5), inset 0px 10px 101px rgba(0,0,0,0.15);
}



.back {
    position: relative;
    padding: 3rem 3rem 1rem 6rem;
    background: #fff;
    max-width: 20%;
    border-radius: 1px;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.dupa {
    font-size: 15px;
    width: 20%;
    height: 60vh;
}


.h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

.h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

.p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    color: #333;
}


.container-copy {
    display: flex;
    justify-content: space-between;
}

.minus_margin{
    margin-bottom: -30px;
}

.img {
    position: initial;
    height: 50px;
    width: 50px;
    left: 20%;
    border-radius: 0;
    box-shadow: none;
    transform: none;
}