select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: transparent;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    border: 1px solid #2b2e2e;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: transparent;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    border: 2px solid #000000;
}
.select:hover::after {
    color: #23b499;
}

.search-box {
    margin-left: 6%;
}