.living-costs {
    display: block;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    margin: 16px;
    border-radius: 8px;
}

.space-between {
    margin: 10px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
